<mat-card>
    <mat-card-content>

        <h2>Create an account</h2>
        <form>
            <mat-form-field class="full-width-input" name="email">
                <input matInput placeholder="Email" type="email" required>
            </mat-form-field>
            <mat-form-field class="full-width-input" name="email">
                <input matInput placeholder="Confirm Email" type="email" required>
            </mat-form-field>

            <mat-form-field class="full-width-input" name="password">
                <input matInput type="password" placeholder="Password" required>
            </mat-form-field>
            <mat-form-field class="full-width-input" name="confirmPassword">
                <input matInput type="password" placeholder="Confirm Password" required>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" style="width: 100%;">Sign up</button>
        </form>
    </mat-card-content>
</mat-card>