<div class="page-container">
    <div class="row">
        <div class="col-12">
            <h1>COVID-19 Vaccine Eligibility</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Before we begin, here is some important information:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3>What is the information will we ask for?</h3>
            <p>We will ask questions about yourself, like your age, gender, race, and ethnicity. We will also ask questions about your health, like your history of COVID-19 infections, testing, or vaccinations. </p>
            <p>Please know we will never ask you for your bank account number, password, or other financial information. </p>
            <h3>Can this tool help you sign up for vaccination notifications for someone else? </h3>
            <p>Yes. You will have the option to create a profile and register for vaccination updates on behalf of someone else, such as a child, parent, or client who is under your care.</p>
            <h3>Do you need help using this tool?</h3>
            <p>Please call 2-1-1 [contact information here] and an operator will help you through this process.</p>
        </div>
    </div>
    <div class="row">
            <div class="col-12">
                <div style="text-align:right">
                    <button class="button-style" type="button" [routerLink]="['/eligibility']" >Next</button>
                </div>
            </div>
        </div>
</div>