<div class="page-container">
    <div class="row">
        <div class="col-12">
            <h1>Oregon COVID-19 Vaccine Screening and Location Finder</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Welcome to the Oregon COVID-19 Vaccine Locator</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>A COVID-19 vaccine is the best way to keep yourself, your family, and your community healthy</p>
            <p> Please complete a brief questionnaire to find out when you are eligible for a COVID-19
                vaccine.<strong>We will not share your information with anyone.</strong></p>
            <p>Everyone who wants to be vaccinated will receive a COVID-19 vaccine over the coming months. Due to
                limited supply, we need to provide the vaccine in phases. We are starting with people who are most at
                risk.</p>
            <p style="padding-left: 5em">If you are eligible for the vaccine, this tool will help you find a
                vaccination location.</p>
            <p style="padding-left: 5em;">If you are not eligible yet, please provide your
                contact information. We
                will send important updates on COVID-19 vaccinations and notify you when you become eligible for
                your vaccine.
            </p>
            <p>
                Please be advised that the information you provide will be confidential and secure following federal
                privacy standards.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div style="text-align:right">
                <button class="button-style" type="button" [routerLink]="['/home-2']">Next</button>
            </div>
        </div>
    </div>
</div>